body#home {
	background-image: url("../images/background.JPG");
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: -10;
	background-color: black;
}

#hero-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
	background-color: rgba(0,0,0,0.3);
}

.container {
	position: absolute;
    top: 65%;
    left: 15%
}

#name-div {
	color: white;
}
#name-header {
	font-family: 'Raleway', sans-serif;
	color: #E6E4E4;
}

#artist-header {

	color: #E6E4E4;
}
.line-break {
	width: 300px;
	border-top: 1px solid;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

nav {
	width: 25%;
	height: 80px;
	background-color: #000;
	opacity: 0.4;
	min-width:300px;

}
nav ul li {
	list-style-type: none;
	display: inline-block;
	line-height: 75px;

}
nav ul {
	float: right;
	]
	/*margin: right: 30px;*/
}
nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 30px;
}

/*This is code for the bio page*/
.prof-box {
	width: 400px;
	height: 400px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	color: white;
	/*margin: 0 auto;*/
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 600px;

	left: 20%;

	/*margin top: 200px;*/
	/*margin bottom: 50px;*/
	text-align: center;
	font-family: 'Raleway', sans-serif;


}

h1 {
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}

h5 {
	font-weight: 50;
	letter-spacing: 6;

}

h6 {
	font-weight: 100;
	letter-spacing: 6;
}

#interests {
	font-weight: 100;
}

.prof-pic {

  border-radius: 50%;
  height: 100px;
  width: 100px;



}

.social-icons {
	font-size: 28px;
}


body#bio {
	background-image: url("../images/biobackground.JPG");
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: -10;
	background-color: black;

}

.quote {
	position: absolute;
	top: 89px;
	right: 20px;


}
#quoteAdams {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 120%;
	opacity: 0.7;
}

/*portfolio page*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
