body#home {
	background-image: url("assets/images/background2.jpg");
	background-size: cover; 
	background-position: center center; 
	position: relative;
	top: 0; 
	bottom: 0;
	height: 100vh;
	z-index: -10; 
	background-color: black; 
}

#hero-overlay {
	position: absolute; 
	top: 0; 
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5; 
	background-color: rgba(0,0,0,0.3);
}

.container {
	position: absolute;
    top: 65%;
    left: 15%
}

#name-div {
	color: white; 
}
#name-header {
	font-family: 'Raleway', sans-serif;
	color: #E6E4E4; 
}

#artist-header {

	color: #E6E4E4; 
}
.line-break {
	width: 300px; 
	border-top: 1px solid;
}

* {
	margin: 0; 
	padding: 0; 
	font-family: 'Raleway', sans-serif; 

}

nav {
	width: 25%; 
	height: 80px; 
	background-color: #000; 
	opacity: 0.4; 
	min-width:300px;

}
nav ul li {
	list-style-type: none; 
	display: inline-block;
	line-height: 75px;

}
nav ul {
	float: right;
	]
	/*margin: right: 30px;*/
}
nav ul li a {
	text-decoration: none; 
	color: #FFFFFF;
	padding: 30px;
}

/*This is code for the bio page*/
.prof-box {
	width: 400px; 
	height: 400px; 
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 200px; 
	margin-bottom: 200px;

	/*margin top: 200px;*/
	/*margin bottom: 50px;*/
	text-align: center;
	font-family: 'Raleway', sans-serif;


}

h1 {
	font-weight: 100; 
	letter-spacing: 6; 
	font-size: 40px;
}

h5 {
	font-weight: 50;
	letter-spacing: 6;

}

h6 {
	font-weight: 100;
	letter-spacing: 6; 
}

.prof-pic {
  
  border-radius: 50%; 
  height: 200px;
  width: 200px;   



}

.social-icons {
	font-size: 28px; 
}


body#bio {
	background-image: url("assets/images/bioportfolio.jpg");
	background-size: cover; 
	background-position: center center; 
	position: relative;
	top: 0; 
	bottom: 0;
	height: 100vh;
	z-index: -10; 
	background-color: black; 

}


